@font-face {
    font-family: '1';
     src: url('fonts/trickster.woff') format('woff'); }

::selection {
    color: #d89761;
    background: #264653; }
::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.2);
    height: 8px; width: 5px; }
::-webkit-scrollbar-thumb {
    background-color: #2A9D8F; }
::-webkit-scrollbar-thumb:hover {
    background-color: #264653; }

/* G E N E R A L */
* {
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;
    color: #264653, #2A9D8F, #e6da71, #d89761, #E76F51;
}

body a {
    text-decoration: none;
    font-family: '1';
    font-size: 2.5vmin;
    color: #2A9D8F;
    transition: 0.5s;
}
body a:hover {
    color: #d89761; }

/* BACK BUTTON */
.home a {
    text-decoration: none;
    position: absolute;
    color: #2A9D8F;
    font-size: 3vmin;
    top: 2vmin; left: 1.5vmin;
    transition: 0.5s;
}
.home a:hover {
    color: #264653;
    font-size: 3vmin;
}

h1 {
    font-family: '1'; font-size: 4vmin;
    text-align: center;
    width: 100%;
    padding: 12px;
    background-color:#E07A5F;
    letter-spacing: 3px;
    font-style: italic;
    text-transform: capitalize;
    border-bottom: 1vmin solid black;
    transition: 0.5s;
}
h1:hover {
    letter-spacing: 6px;
}

h2 {
    font-size: 2.5vmin;
    font-family: '1';
    font-weight: lighter;
    letter-spacing: 4px;
    color: #2A9D8F;
}

body {
    display: flex;
    flex-wrap:wrap;
    width: 100vw;
    overflow:scroll;
    overflow-x: hidden;
    background: rgb(212, 212, 212);

    font-family: 'Spectral';
    font-size: 1.9vmin;
}
body img {
    width: 25vmin;
    display: block;
    margin: auto;
    margin-bottom: 0.6vmin;
    padding: 0.5vmin;
    
    border-radius: 25%;
    border: #264653 1vmin solid;
    transition: 0.5s;
}
body img:hover {
    box-shadow: rgba(231, 111, 81, 0.8) 7px 7px 1px;
}

a img {
    height: 4vmin; width: 4vmin;
    border: none;
    margin: auto;
    display: inline-block;
    opacity: 0.6;
    transition: 0.5s;
}
a img:hover {
    box-shadow: none;
    opacity: 0.3;
}

.column {
    width: 40%;
    padding: 2vmin;
    border: 1vmin solid black;
    background-color: rgba(38, 70, 83, 0.2);
}
.column img {
    background-color: rgba(255, 255, 255, 0.2);
}

.column2 {
    width: 60%;
    padding: 2vmin;
    border: 1vmin solid black;
}
.column3 {
    width: 50%;
    padding: 2vmin;
    border: 1vmin solid black;
}
.column4 {
    margin: auto;
    width: 70%;
    padding-top: 10px;
}

nav {
    border-top: #264653 1vmin solid;
    padding: 20px;
    width: 100%;
    text-align: center;
    font-family: '1';
    font-size: 4vmin;
    line-height: 4vmin;
}
nav a {
    margin-right: 2.5vmin;
    text-decoration: none;
    color: #264653;

    background-color: rgba(216, 151, 97, 0.8);
    padding: 8px;
    border: #264653 0.4vmin dashed;
    border-radius: 10px;
    transition: 0.5s;
}
nav a:hover {
    background-color: rgba(42, 157, 144, 0.4);
    box-shadow: #264653 6px 6px 1px;
    color: #264653;
    font-size: 3vmin;
}


/* 3D SPECIFIC CSS */
.container {
    padding: 10px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    border-top: 1vmin solid black;
}
.scroll-box {
    width: 250vmin;
}
.items {
    display:inline-block;
    /* border: 1px solid black; */
}
embed {
    display: inline-block;
    height: 75vmin; width: 60vmin;
    padding: 0.5vmin;
    margin: auto;
}
/* DESIGN SPECIFIC CSS */
video {
    padding: 0.5vmin;   
    border-radius: 5%;
    border: #264653 1vmin solid;
    transition: 0.5s;
}
video:hover {
    box-shadow: rgba(231, 111, 81, 0.8) 7px 7px 1px;
}
/* 2D SPECIFIC CSS */
figcaption {
    width: 80%; 
    margin:auto;
    text-align: center;
    font-family: 'Spectral';
    font-weight: bold;
    font-size: 1.5vmin;
    color: #264653;
}