@font-face {
    font-family: 'trickster';
    src: url('fonts/trickster.woff') format('woff');
}

@font-face {
    font-family: 'link';
    src: url('fonts/BackOut.woff') format('woff');
}


@keyframes spaced {
    0% {letter-spacing: none;}
    50% {letter-spacing: 0.3vmin;}
    100% {letter-spacing: none;}
}
@keyframes upbob {
    0.0% {}
    50% {transform: translate(0vmin, -1vmin);}
    100% {}
}


* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.2s;
}

body {
    height: 100vh;
    overflow-x: hidden;
    text-align: center;
    background-color: #f1f1f1;
}

h1 {
    font-family: 'trickster';
    font-size: 8vmin;
    text-align: center;
    padding-top: 4vmin;
    color: #1f1f1f;
}
h1:hover {
    animation-name: spaced;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}
p {
    font-family:monospace;
    font-size: 1.8vmin;
    width: 60%;
    margin: auto;
}

a {
    text-decoration: none;
    color: #1f1f1f;
    margin-left: 3vmin;
    font-family: 'link'; font-size: 3vmin;
}
a:hover {
    text-decoration: underline;
    opacity: 0.5;
    text-transform: uppercase;
}


nav {
    position: fixed; width: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, #f1f1f1 30%, #f1f1f1 100%);
    padding-top: 2vmin; padding-bottom: 3vmin;
}

section {
    width: 100vw;
    padding-top: 15vmin;
    display: flexbox;
}

#about iframe {
    width: 80vmin; height: 45vmin;
}
#anims iframe {
    width: 45vmin; height: 25vmin;
}

#html img{
    width: 30%; }

#jump a {
    text-decoration: none;
    position: fixed; 
    bottom: 3vmin; right: 3vmin; z-index: 1; 
    font-family: monospace; font-size: 6vmin;
    animation: upbob 3s ease 0s infinite normal none;
    text-shadow: #f1f1f1 2px 2px 0px;
}

footer {
    background: #1f1f1f ;
    padding: 4vmin;
}
footer a{
    color: #f1f1f1;
    font-size: 2vmin;
    display: flex; width: 30%;
    margin-left: 50%;
    margin-top: 0.8vmin;
}
footer img {
    width: 10vmin;
    position:absolute; left: 38%;
}