/* FONTS */
@font-face {
    font-family: 'font1';
    src: url('media/trickster.woff') format('woff');
}/*  
@font-face {
    font-family: 'font2';
    src: url('media/basteleur.woff') format('woff');
}*/


/* ANIMATIONS */
@keyframes spaced {
    0% {letter-spacing: 0.01vmin;}
    50% {letter-spacing: 0.1vmin;}
    100% {letter-spacing: none;}
}
@keyframes upbob {
    0.0% {}
    50% {transform: translate(0vmin, -1.5vmin);}
    100% {}
}


/* INTRO ANIMATION */
.intro {
    position: fixed;
    z-index: 2;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: #1f1f1f;
    transition: 1s;
}
.logo-header {
    position: absolute;
    top: 40%; left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}
.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out 0.5s;
}
.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
}


/* GENERAL */
::selection {
    background: #1f1f1f;
    color: #f1f1f1;
}
::-webkit-scrollbar {
    background-color: #ffffff;
    width: 1vmin;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.9);
}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.1s;
    font-family: monospace;
}

body {
    height: 100vh;
    overflow-x: hidden;
    text-align: left;
}
h1 {
    font-family: 'font1';
    font-size: 8vmin;
    text-align: left;
    padding-top: 2vmin;
    padding-left: 1vw; padding-right: 1vw;
    color: #1f1f1f;
}
h1:hover {
    animation-name: spaced;
    animation-duration: 1s;
    animation-iteration-count:infinite;
}
p {
    font-size: 1.8vmin;
    margin-left: 0;
}
a {
    text-decoration: none;
    color: #1f1f1f;
    font-family: 'font2'; font-size: 2.5vmin;
}
a:hover {
    font-style: italic;

    animation-name: spaced;
    animation-duration: 1.5s;
    animation-iteration-count:infinite;
}

section {
    width: 100vw;
    padding-top: 5vmin; padding-bottom: 5vmin;
    padding-left: 10%;
    display: flex;
    background: linear-gradient(180deg, rgb(241,241,241) 0%, rgb(212, 212, 212) 100%);
}


/* NAV */
nav {
    height: 100%; width: 14vmin;
    position: fixed; 
    z-index: 1;
    background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgb(177, 177, 177) 100%);
    border-right: #ffffff solid 2px;
}
nav a {
    font-family: monospace;
}
ul {
    z-index: 1;
    list-style-type: none;
    padding: 0;
    padding-left: 3vmin;
    position: relative;
    top: 40vh;
    text-align: left;
}

/* SELECTOR SECTION */
li a:hover:not(.selected) {
    text-decoration: none;
}
.selected {
    font-weight: bold;
    font-style: italic;
    transition: 0.1s ease;
}


/* ABOUT */
#about iframe {
    width: 30vw; height: 35vmin;
    padding-right: 3vmin;
    margin-left: 15%;
}
#about button {
    height: 3vmin; width: 9vmin;
    border: 2px #1f1f1f solid;
    border-radius: 20px;
    padding: 0px;
}
#about a {
    font-family: 'font1'; 
    font-size: 1.8vmin;
}
button:hover {
    background-color: #1f1f1f; 
}
button a:hover {
    color: #f1f1f1;
}

/* WEB */
#web img{
    height: 15vw;
}
#web iframe{
    height: 20vw;
    width: 10vw;
}
img:hover{
    /* opacity: 0.9; */
    -webkit-transform: scale(1.3, 1.3);
    transition: 0.3s ease;
}
.half {
    display: table-cell;
    width: 40%;
    padding-right: 3vmin;
    font-size: 1.5vmin;
}
.third {
    display: table-cell;
    width: 30%;
    padding-right: 3vmin;
    font-size: 1.5vmin;
}

/* VIDEO */
#video iframe {
    width: 30vw; height: 35vmin;
}
#video img {
    width: 28vw;
}

/* 3D */
#threed img {
    width: 25vw;
}

/* COMMDES */
#design img{
    width: 25vw;
}


/* FOOTER */
#jump a {
    text-decoration: none;
    position: fixed; 
    bottom: 2vmin; right: 3vmin; z-index: 1; 
    font-family: monospace; font-size: 6vmin;
    animation: upbob 3s ease 0s infinite normal none;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: rgba(241, 241, 241, 0.8);
}

footer {
    background: #1f1f1f;
    padding: 4vmin;
}
footer a{
    color: #f1f1f1;
    font-family: monospace;
    font-size: 2vmin;
    display: flex; width: 30%;
    padding-left: 10vw;
    margin-top: 0.8vmin;
}