* {
    box-sizing:border-box;
    transition: 0.5s;
}
img {
    border-radius: 5%;
}

.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}
.slides {
  display:none; }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    color: white;
    font-size: 18px;
}
.next {
  right: 0;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
    color: black;
    font-size: 15px;
    padding: 12px;
    position: absolute;
    width: 100%;
}
.dot {
  height: 15px; width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: 0.6}
  to {opacity: 1}
}