img{
    position:relative;
    display: block;
    margin: auto;
}
body{
    background-color:antiquewhite;
    text-align: center;
    font-size: 8pt;
    padding-top: 5px;
    font-family: sans-serif;
    font-style: italic;
}


/*#button{
    margin-left: auto;
    margin-right: auto;
    z-index: -1;
} */

#player img{
    width: 80px;
    margin: auto 20px;
    float:left;
}
#player{
    padding-left: 40%;
}