@font-face {
    font-family: '1';
    src: url('grotesk.woff') format('woff');
}
@font-face {
    font-family: '2';
    src: url('poly.woff') format('woff');
}

/* GENERAL */
* {
    transition: 0.8s;
}
body {
    background-color: rgb(143, 143, 143);
    overflow: hidden; }

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: monospace;
    font-size: 4vmin;
    position: fixed; 
    top: 0%;}
button:hover {
    opacity: 50%; }

/* SECTIONS */
div.info{
    text-align:right;
    font-size: 5vh; 
    font-family: '1';
    position: fixed;
    margin-left: 83%;
    right: 2%;}
div.poster {
    margin-top: 5vh;
}
div.text {
    text-align: center;
    color: white;
    font-size: 8vh;
    line-height: 10vh;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 100px;
}

/* RULES */
div.text.one{
    font-family: '1'; }
div.text.two {
    font-family: courier;}
div.text.three {
    font-family: '2'; }

div.text.a {
    transform:scaleY(0.7); }
div.text.b {
    transform:scaleY(1.3); }
div.text.c {
    transform:scaleY(1); }

div.text.x {
    opacity: 0.5;}
div.text.y {
    opacity: 0.7;}
div.text.z {
    opacity: 0.9;} 