@font-face {
    font-family: '1';
    src: url('trickster.woff') format('woff'); }
::selection {
    color: rgb(244, 241, 222);
    background: #81B29A; }
::-webkit-scrollbar {
    background-color: #E07A5F;
    width: 6px; }
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.5);
    }

body {
    background-color:white;
    color: rgba(61, 64, 91, 0.8);
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vmin;
    transition: 1s;
   /* color: #F4F1DE; */
}

a {
    color:#E07A5F;
    text-decoration: none;
    transition: 0.5s;
}
a:hover {
    text-decoration:underline;
    color: #F2CC8F;
    transition: 1s;
}

div.header {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(242, 204, 143);
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 1;
    width: 100%;
    padding-left: 8%;
}
div.header a {
    color: rgba(61, 64, 91, 0.8); }
div.header a:hover {
    color:#E07A5F; }

div.logo {
    padding: 10px;
    width: 50%;
    font-family: '1';
    padding-left: 10%;
}
div.nav {
    padding: 10px;
    width: 50%;
}

div.masthead {
    padding: 10vmin;
    font-size: 8vw;
    text-align: center;
    user-select: none;
    font-family: '1';
    /*background: linear-gradient(0deg, rgba(61, 64, 91) 0%, rgba(224,122,95,1) 48%, rgba(129, 178, 154) 100%);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}
div.mastimg {
    z-index: -1;
    position: absolute;
    opacity: 100%;
    background: linear-gradient(0deg, #F2CC8F 0%, rgba(224,122,95,1) 48%, rgba(129, 178, 154) 100%);
}
.mastimg img {
    opacity: 40%;
    margin-top: -40vmin;
}

div.scroll-box{
    border-top: 2px solid #3D405B;
    border-bottom: 2px solid #3D405B;
    overflow: hidden;
}
@keyframes scroll{
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);} }
div.scroll-t {
    animation: scroll 40s linear infinite;
    font-family: Times;
    font-size: 7vmin;
    color: rgb(129, 178, 154);
    padding: 10px;
}
div.scroll-t1 {
    animation: scroll 20s linear infinite;
    font-family: Times;
    font-size: 7vmin;
    color: rgb(129, 178, 154);
    padding: 10px;
}

div.about {
    color: rgb(129, 178, 154);
    padding: 30px;
    font-family: Times;
    font-size: 7vmin;
    padding-bottom: 20px;
}

div.footnote {
    display: flex;
    flex-wrap: wrap;
    background-color: #F4F1DE;
}

div.note.small {
    width: 15%; }
div.note {
    width: 40%;
    padding: 10px;
}
.note a {
    font-family: Times;
    font-weight: bold;
    line-height: 130%;
}

div.title {
    font-family: '1';
    font-size: 16vmin;
    letter-spacing: -15px;
    color: rgba(224, 123, 95, 0.8);
    text-align: center;
    padding: 20px;
}
div.keywords {
    font-size: 6vmin;
    font-family: Times;
    text-align: center;
    color: rgb(129, 178, 154);
    padding-bottom: 30px;
    margin-top: -20px;
}

img {
    max-width: 100%;
    opacity: 1;
    transition: 1s;
    padding: 10px;
}
div.container img {
    background: linear-gradient(360deg, rgba(129,178,154,1) 0%, rgba(224,122,95,1) 48%, rgba(242,204,143,1) 100%);
    border-radius: 10px;
}
div.full img {
    background: linear-gradient(360deg, rgba(129,178,154,1) 0%, rgba(224,122,95,1) 48%, rgba(242,204,143,1) 100%);
    border-radius: 10px;
}
img:hover{
    box-shadow: 15px -15px rgba(129, 178, 154,0.3);
    transition: 1s;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    padding-bottom: 10px;
}

div.item {
    width: 30%;
    font-size: 2vmin;
    line-height: 3vmin;
    margin-left: 5vmin;
    text-align: center;
}

div.num {
    font-family: '1';
    font-size: 6vmin;
    line-height: 8vmin;
}
div.full {
    padding-bottom: 30px;
    text-align: center;
    opacity: 0.8;
    transition: 0.5s;
    border-radius: 10px;
}
div.full:hover {
    opacity: 1;
    transition: 0.5s;
}

footer {
    display: flex;
    flex-wrap: wrap;
    border-top: 2px solid black;
    padding: 10px;
    background-color: rgba(129, 178, 154, 0.7);;
    padding-left: 8%;

}

div.big {
    width: 75%;
    margin:auto;
    background: linear-gradient(360deg, rgba(129,178,154,0.8) 0%, rgba(224,122,95,0.8) 48%, rgba(242,204,143,0.8) 100%);
    border-radius: 10px;
    margin-bottom: 3vmin;

}

div.full {
    width: 95%;
    padding: 10px;
    margin: auto;
    border: 2px solid black;
    background-color: rgba(242, 204, 143, 0.3);
    margin-bottom: 3vmin;
}