@font-face {
    font-family: '1';
    src: url('basteleur.woff') format('woff');
}

/* GENERAL */
* {
    transition: 0.5s;
}
body {
    background-color: rgb(248, 175, 187);
    overflow:hidden;
    font-family: '1';}

button {
    z-index: 1;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: monospace;
    font-size: 4vmin;
    position: fixed; }
button:hover {
        opacity: 40%; }

/* SECTIONS */
div.info{
    color: white;
    position: fixed;
    right: 5%;
    bottom: 10%;
    transform: rotate(270deg);}

div.poster {
    margin-top: 2vmin;
    margin-bottom: 5vmin;
    margin-left: 5vmin;
    margin-right: 5vmin;}

div.text {
    font-size: 9vh;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

    
/* RULES */
div.text.one{
    letter-spacing: 0vh;}
div.text.two {
    letter-spacing: -1vh; }
div.text.three {
    letter-spacing: 1vh;}

div.text.a {
    transform:translateX(-8vh); }
div.text.b {
    transform:translateX(0vh); }
div.text.c {
    transform:translateX(8vh); }

div.text.x {
    text-shadow: 5px 5px 1px rgba(255, 1, 98, 1);}
div.text.y {
    text-shadow: 5px 5px 1px rgba(255, 232, 21, 1);}
div.text.z {
    text-shadow: 5px 5px 1px rgba(0, 204, 255, 1);} 